@font-face {
  font-family: 'Frutiger Condensed';
  src: url("../fonts/frutiger_condensed.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Frutiger Bold';
  src: url("../fonts/frutiger_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Frutiger Light';
  src: url("../fonts/frutiger_light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Frutiger Black Condensed';
  src: url("../fonts/frutiger_black_condensed.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
body {
  font-family: 'Frutiger Condensed'; }

.doss-nav {
  position: fixed;
  width: 100%;
  z-index: 99; }
  .doss-nav .main-logo {
    height: 100%; }
  .doss-nav .navbar-text {
    margin-top: 30px; }

#intro {
  height: 800px;
  background: url("../images/classroom.jpg") no-repeat;
  background-size: cover;
  margin: 0; }
  #intro .meta {
    height: 100%;
    padding: 100px 0;
    text-align: center;
    position: relative; }
    #intro .meta h2 {
      font-family: 'Frutiger Bold';
      position: relative;
      top: 45%; }
      #intro .meta h2 span {
        font-family: 'Frutiger Condensed'; }
    #intro .meta .btn {
      font-family: 'Frutiger Bold';
      position: absolute;
      left: 44%;
      bottom: 5%;
      border-radius: 0;
      text-transform: uppercase;
      border: none;
      background: #444349;
      color: white; }

#reason {
  padding: 50px 0; }
  #reason h2 {
    font-family: 'Frutiger Black Condensed';
    text-align: center;
    text-transform: uppercase; }
  #reason .media-body {
    font-family: 'Frutiger Light'; }
    #reason .media-body h3 {
      font-family: 'Frutiger Black Condensed'; }
  #reason img {
    padding-right: 50px;
    width: 550px; }

#instructors {
  border-top: 3px solid orange;
  padding: 50px 0; }
  #instructors h2 {
    font-family: 'Frutiger Black Condensed';
    text-align: center;
    text-transform: uppercase;
    margin-top: -67px; }
    #instructors h2 span {
      background: white;
      padding: 5px; }
  #instructors .thumbnail {
    border: none;
    padding-bottom: 20px;
    padding-top: 20px; }
    #instructors .thumbnail .caption {
      font-family: 'Frutiger Light';
      text-align: center; }

#classes {
  border-top: 3px solid #f4701e;
  padding: 50px 0; }
  #classes h2 {
    font-family: 'Frutiger Black Condensed';
    text-align: center;
    text-transform: uppercase;
    margin-top: -67px; }
    #classes h2 span {
      background: white;
      padding: 5px; }
  #classes ol {
    padding-left: 15px;
    padding-top: 20px; }
    #classes ol li {
      font-family: 'Myriad Pro'; }

#daftar {
  font-family: 'Frutiger Light';
  border-top: 3px solid #f4701e;
  padding: 50px 0; }
  #daftar h2 {
    text-align: center;
    margin-top: -67px; }
    #daftar h2 span {
      background: white;
      color: #f4701e;
      padding: 8px; }
  #daftar label {
    color: #f4701e;
    display: block; }
  #daftar [id*="birthday-"] {
    display: inline-block;
    width: 30%;
    margin-right: 15px; }
  #daftar button {
    background: #f4701e;
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 100%; }

#contact {
  background: #444349;
  color: white;
  padding-bottom: 15px; }
  #contact .header {
    border-bottom: 1px dotted #505050;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px; }
    #contact .header ul {
      list-style: none;
      margin: 0; }
      #contact .header ul li {
        display: inline-block;
        margin-right: 15px;
        text-transform: uppercase; }
  #contact ul {
    padding-left: 15px; }
  #contact h4 {
    border-bottom: 1px dotted #505050;
    margin-bottom: 10px;
    padding-bottom: 5px; }

#chat {
  background: #f4701e;
  color: white;
  position: fixed;
  right: 10%;
  bottom: 0; }

footer {
  background: #f4701e;
  text-align: center;
  color: white;
  padding: 20px; }
  footer h5 {
    margin: 0; }

/*# sourceMappingURL=style.css.map */
