@import 'variables';
@import 'mixins';

.doss-nav {
  position: fixed;
  width: 100%;
  z-index: 99;

  .main-logo {
    height: 100%;
  }

  .navbar-text {
    margin-top: 30px;
  }
}

#intro {
  height: 800px;
  background: url('http://lorempixel.com/1024/800/city') no-repeat;
  background-size: cover;
  margin: 0;

  .meta {
    height: 100%;
    padding: 100px 0;
    text-align: center;
    position: relative;

    h2 {
      position: absolute;
      top: 45%;
      left: 25%;
    }

    .btn {
      position: absolute;
      left: 44%;
      bottom: 5%;
      border-radius: 0;
      text-transform: uppercase;
      border: none;
      background: grey;
      color: white;
    }
  }
}

#reason {
  padding: 50px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  img {
    padding-right: 50px;
    width: 550px;
  }
}

#instructors {
  border-top: 3px solid orange;
  padding: 50px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: -67px;

    span {
      background: white;
      padding: 5px;
    }
  }

  .thumbnail {
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;

    img {
      border-radius: 50%;
    }

    .caption {
      text-align: center;
    }
  }
}

#classes {
  border-top: 3px solid orange;
  padding: 50px 0;

  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: -67px;

    span {
      background: white;
      padding: 5px;
    }
  }

  ol {
    padding-left: 15px;
    padding-top: 20px;
  }
}

footer {
  background: orange;
  text-align: center;
  color: white;
  padding: 20px;

  h5 {
    margin: 0;
  }
}
